@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;











.light {

  --nav-footer-bg: 238, 250, 247;
  --text-color-primary: 19, 93, 102;






  --background:#ecf0d1;

  --backgroundnav: 245, 245, 245;
  --cardback: 255, 255, 255;
  --footerbackground: 212, 212, 212;

  --border: 212, 212, 212;
  --card: 255, 255, 255;

  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 31, 41, 55;

  background: rgba(var(--background));
}

.dark {

  --nav-footer-bg: 42, 74, 73;
  --text-color-primary: 42, 74, 73;



  --background: 0, 0, 0;

  --backgroundnav: 0, 0, 0;
  --cardback: 23, 23, 23;
  --footerbackground: 38, 38, 38;

  --border: 38, 38, 38;
  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 229, 231, 235;

  background: rgba(var(--background));
}




















html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

body{
  font-family: "Raleway", sans-serif;
  
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  
}
.ralewayfont{
  font-family: "Raleway", sans-serif;
}
.montsefont{
  font-family: "Montserrat", sans-serif;
}
.scroll-to-top{
  display: flex;
  align-items: center;
  justify-content: center;
}
  

  .animate__animated {
    animation: bounce 2s infinite !important;
  }
  
  .bounce-animation {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }




  




  .btn-green-500 {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-outline {
    border: 2px solid #4caf50;
    color: #4caf50;
  }
  
  .text-green-600 {
    color: #43a047;
  }
  
  .text-gray-600 {
    color: #757575;
  }
  

  

  .menu li {
    position: relative;
  }
  

  @media only screen and (max-width: 768px) {
    .menu li a::before {
      background-image: none;
    }
  }
  
  .menu li a.active::before {
    opacity: 1;
    visibility: visible;
  }
  .menu li a {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .active{
    color: #E3FEF7 !important;
    background-color: #135D66  !important;
}





















   


