@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;











.light {
  --nav-footer-bg: 214, 240, 231;
  --text-color-primary: 19, 93, 102;
  --text-color-secondary: 148, 98, 32; /* Added missing comma */
  --text-color-light: 19, 93, 102;
  --cardback: 255, 255, 255;
  --border: 212, 212, 212;
  --background: 230, 230, 230; /* Converted to RGB */
  
  background: rgb(var(--background)); /* Fixed proper background handling */
  color: rgb(var(--text-color-primary)); /* Ensuring text color is set */
}

.dark {
  --nav-footer-bg: 40, 44, 52;
  --text-color-primary: 229, 231, 235;
  --text-color-secondary: 156, 163, 175;
  --text-color-light: 197, 217, 219;
  --cardback: 55, 65, 81;
  --border: 75, 85, 99;
  --background: 24, 26, 32;

  background: rgb(var(--background));
  color: rgb(var(--text-color-primary));
}





















html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

body{
  font-family: "Raleway", sans-serif;
  
  margin: 0;
  padding: 0;

  
}
.ralewayfont{
  font-family: "Raleway", sans-serif;
}
.montsefont{
  font-family: "Montserrat", sans-serif;
}
.scroll-to-top{
  display: flex;
  align-items: center;
  justify-content: center;
}
  

  .animate__animated {
    animation: bounce 2s infinite !important;
  }
  
  .bounce-animation {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }




  




  .btn-green-500 {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-outline {
    border: 2px solid #4caf50;
    color: #4caf50;
  }
  
  .text-green-600 {
    color: #43a047;
  }
  
  .text-gray-600 {
    color: #757575;
  }
  

  

  .menu li {
    position: relative;
  }
  

  @media only screen and (max-width: 768px) {
    .menu li a::before {
      background-image: none;
    }
  }
  
  .menu li a.active::before {
    opacity: 1;
    visibility: visible;
  }
  .menu li a {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .active{
    color: #E3FEF7 !important;
    background-color: #135D66  !important;
}





















   


